h1{font-size:2rem}
h2{font-size:1.5rem}
h3{font-size:1.25rem}
h4{font-size:1rem}
h5{font-size:.875rem}
h6{font-size:.75rem}
.font-family-inherit{font-family:inherit}
.font-size-inherit{font-size:inherit}
.text-decoration-none{text-decoration:none}
.bold{font-weight:700}
.regular{font-weight:400}
.italic{font-style:italic}
.caps{text-transform:uppercase;letter-spacing:.2em}
.left-align{text-align:left}
.center{text-align:center}
.right-align{text-align:right}
.justify{text-align:justify}
.nowrap{white-space:nowrap}
.break-word{word-wrap:break-word}
.line-height-1{line-height:1}
.line-height-2{line-height:1.125}
.line-height-3{line-height:1.25}
.line-height-4{line-height:1.5}
.list-style-none{list-style:none}
.underline{text-decoration:underline}
.truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}