@import url("reset.css");
@import url("fonts.css");
/* Takethisforfree69! */


body {
    background-image: url('../assets/textures/grass.png');
    background-attachment: fixed;
    color: white;
}

#lobby {
    margin-top: 42vh;
    max-height: 14vh;
    text-align: center;
}

#cardSelector {
    display:none;
}

#showCardSelector {
    display: none;
}


.card {
    padding-top: 10px;
    margin-right:5px;
    margin-bottom:15px;
    height: 320px;
    background-color:rgba(0,0,0, 0.4);
    border-radius: 5%;
    max-width:250px;
    box-shadow: 0px 3px 0px greenyellow;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    padding: 5%;
}
.cardard:hover {
    opacity: 1;
    border:2px solid greenyellow;
    transform: scale(1.04,1.04);
}

.card > img {
    opacity: 0.9;
    display: block;
    margin: 0 auto;
}

.card > .row {
    margin-bottom: 12px;
}

.card > h2 {
    margin:10px;
}

.card-click {
    background-color: rgba(0,0,0,0.6);
    border: 2px solid greenyellow;
    box-shadow: 0px 0px 18px greenyellow;
    opacity: 1;
    cursor: pointer;
}

.atack {
	color: red;
    background-color:rgba(0,0,0, 0.7);
    border-radius: 100%;
    max-width: 50px;
    min-height: 50px;
    line-height: 50px;
    margin-top: -10px;
    text-align: center;
    left:25%;
    position: relative;
}

.defence {
    color: green;
    background-color:rgba(0,0,0, 0.7);
    border-radius: 100%;
    max-width: 50px;
    min-height: 50px;
    line-height: 50px;
    margin-top: -10px;
    text-align: center;
    left:25%;
    position: relative;
}

hr {
    margin: 0 auto;
    height: 3px;
    width: 95%;
    background-color:greenyellow;
    border:none;
    box-shadow: inset 0px 0px 1px black;
}



button {
    height: 35px;
    padding: 8px;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,0,0, 0.2);
    box-shadow: 0px 0px 8px black;
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
}

#spinner {
    animation: spin 1.5s infinite ease-in-out;
    animation-timing-function: linear;
}

.basic-element {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color:rgba(0,0,0, 0.3);
}

#submitCardsButton {
    display: none;
}

@font-face {
    font-family: myFirstFont;
    src: url('../assets/fonts/coolvetica.ttf');
}

.coolvetica {
    font-family: myFirstFont;
}


/* board */

#board {
    display:none;
}

.boardComponent{
    width: 100%;
    overflow: hidden;

}

#bottomPart {
    /* border-top:2px solid red; */

}

#topPart {
    /* border-bottom:2px solid white; */
    /* height: 25vh; */
}



.boardCard {
    padding-top:5px;
    background-color:rgba(0,0,0, 0.4);
    border-radius: 5%;
    min-width: 140px;
    box-shadow: 0px 3px 0px greenyellow;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    padding-left:5%;
    padding-right:5%;
    min-height: 80px;

    flex: 0 0 auto;
}

.container {
    min-height: calc(100vh - 135px);
}

#board > hr {
    min-height: 10px;
    width: 100%;
}

.boardCard > img {
    opacity: 0.9;
    margin: 0 auto;
}

.hideMe {
    display: none;
}

.hideMe2 {
    display: none;
}

 .boardCard:hover {
    opacity: 1;
    border:2px solid greenyellow;
    transform: scale(1.04,1.04);

}

#hand {
    min-height: 105px;
    border:2px solid white;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
}

.lines {

    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom:3px;
    border-radius: 18px;
    background-color: rgba(0,0,0, 0.2);
    width:100%;
    min-height: 85px;
}

#board > hr {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#scor {
    border:2px solid black;
    padding:5px;
    min-height: 50px;
    text-align: center;
}

#scor >.row >.col-xs-3 {
    border-right:2px solid black;
    border-left:2px solid black;
}

/* .boardCard > .row {
    margin-bottom: 12px;
}



.boardCard-click {
    background-color: rgba(0,0,0,0.6);
    border: 2px solid greenyellow;
    box-shadow: 0px 0px 18px greenyellow;
    opacity: 1;
    cursor: pointer;
} */